        <header style="margin-bottom:45px;">
            <h1 style="font-size: 35px;">Prode Argentino</h1>
            <p style="font-size:20px;">Bienvenido a Prode Argentino! La web donde podes demostrar tus conocimientos de fútbol adivinando los resultados de los partidos. Totalmente gratis!</p>
        </header>
        <section id="posicionessuperliga" style="text-align:center;width:300px;">
            <strong>Posiciones SuperLiga</strong>
            <table id="tablaliga">
                <thead>
                    <tr style="background:black; color:white;">
                        <th style="width: 20px;">#</th>
                        <th>Equipo</th>
                        <th style="width: 20px;">Pts</th>
                        <th style="width: 20px;">PJ</th>
                        <th style="width: 20px;">DIF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background:#93e07e;">
                        <td style="background:#7dbc6d; color:white;">1</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.27.logo}}">{{equipos.27.nombre}}</td>
                        <td>{{equipos.27.pts}}</td>
                        <td>{{equipos.27.pj}}</td>
                        <td>{{equipos.27.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:#7dbc6d; color:white;">2</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.20.logo}}">{{equipos.20.nombre}}</td>
                        <td>{{equipos.20.pts}}</td>
                        <td>{{equipos.20.pj}}</td>
                        <td>{{equipos.20.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td style="background:#7dbc6d; color:white;">3</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.1.logo}}">{{equipos.1.nombre}}</td>
                        <td>{{equipos.1.pts}}</td>
                        <td>{{equipos.1.pj}}</td>
                        <td>{{equipos.1.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:#7dbc6d; color:white;">4</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.2.logo}}">{{equipos.2.nombre}}</td>
                        <td>{{equipos.2.pts}}</td>
                        <td>{{equipos.2.pj}}</td>
                        <td>{{equipos.2.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td style="background:#7dbc6d; color:white;">5</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.21.logo}}">{{equipos.21.nombre}}</td>
                        <td>{{equipos.21.pts}}</td>
                        <td>{{equipos.21.pj}}</td>
                        <td>{{equipos.21.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:yellow;">6</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.3.logo}}">{{equipos.3.nombre}}</td>
                        <td>{{equipos.3.pts}}</td>
                        <td>{{equipos.3.pj}}</td>
                        <td>{{equipos.3.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td style="background:yellow;">7</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.0.logo}}">{{equipos.0.nombre}}</td>
                        <td>{{equipos.0.pts}}</td>
                        <td>{{equipos.0.pj}}</td>
                        <td>{{equipos.0.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:yellow;">8</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.4.logo}}">{{equipos.4.nombre}}</td>
                        <td>{{equipos.4.pts}}</td>
                        <td>{{equipos.4.pj}}</td>
                        <td>{{equipos.4.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td style="background:yellow;">9</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.5.logo}}">{{equipos.5.nombre}}</td>
                        <td>{{equipos.5.pts}}</td>
                        <td>{{equipos.5.pj}}</td>
                        <td>{{equipos.5.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:yellow;">10</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.6.logo}}">{{equipos.6.nombre}}</td>
                        <td>{{equipos.6.pts}}</td>
                        <td>{{equipos.6.pj}}</td>
                        <td>{{equipos.6.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td style="background:yellow;">11</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.7.logo}}">{{equipos.7.nombre}}</td>
                        <td>{{equipos.7.pts}}</td>
                        <td>{{equipos.7.pj}}</td>
                        <td>{{equipos.7.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td style="background:#e5e5e5;">12</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.15.logo}}">{{equipos.15.nombre}}</td>
                        <td>{{equipos.15.pts}}</td>
                        <td>{{equipos.15.pj}}</td>
                        <td>{{equipos.15.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>13</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.8.logo}}">{{equipos.8.nombre}}</td>
                        <td>{{equipos.8.pts}}</td>
                        <td>{{equipos.8.pj}}</td>
                        <td>{{equipos.8.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>14</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.9.logo}}">{{equipos.9.nombre}}</td>
                        <td>{{equipos.9.pts}}</td>
                        <td>{{equipos.9.pj}}</td>
                        <td>{{equipos.9.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>15</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.10.logo}}">{{equipos.10.nombre}}</td>
                        <td>{{equipos.10.pts}}</td>
                        <td>{{equipos.10.pj}}</td>
                        <td>{{equipos.10.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>16</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.11.logo}}">{{equipos.11.nombre}}</td>
                        <td>{{equipos.11.pts}}</td>
                        <td>{{equipos.11.pj}}</td>
                        <td>{{equipos.11.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>17</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.22.logo}}">{{equipos.22.nombre}}</td>
                        <td>{{equipos.22.pts}}</td>
                        <td>{{equipos.22.pj}}</td>
                        <td>{{equipos.22.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>18</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.12.logo}}">{{equipos.12.nombre}}</td>
                        <td>{{equipos.12.pts}}</td>
                        <td>{{equipos.12.pj}}</td>
                        <td>{{equipos.12.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>19</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.23.logo}}">{{equipos.23.nombre}}</td>
                        <td>{{equipos.23.pts}}</td>
                        <td>{{equipos.23.pj}}</td>
                        <td>{{equipos.23.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>20</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.13.logo}}">{{equipos.13.nombre}}</td>
                        <td>{{equipos.13.pts}}</td>
                        <td>{{equipos.13.pj}}</td>
                        <td>{{equipos.13.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>21</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.14.logo}}">{{equipos.14.nombre}}</td>
                        <td>{{equipos.14.pts}}</td>
                        <td>{{equipos.14.pj}}</td>
                        <td>{{equipos.14.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>22</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.16.logo}}">{{equipos.16.nombre}}</td>
                        <td>{{equipos.16.pts}}</td>
                        <td>{{equipos.16.pj}}</td>
                        <td>{{equipos.16.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>23</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.17.logo}}">{{equipos.17.nombre}}</td>
                        <td>{{equipos.17.pts}}</td>
                        <td>{{equipos.17.pj}}</td>
                        <td>{{equipos.17.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>24</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.26.logo}}">{{equipos.26.nombre}}</td>
                        <td>{{equipos.26.pts}}</td>
                        <td>{{equipos.26.pj}}</td>
                        <td>{{equipos.26.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>25</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.25.logo}}">{{equipos.25.nombre}}</td>
                        <td>{{equipos.25.pts}}</td>
                        <td>{{equipos.25.pj}}</td>
                        <td>{{equipos.25.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>26</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.18.logo}}">{{equipos.18.nombre}}</td>
                        <td>{{equipos.18.pts}}</td>
                        <td>{{equipos.18.pj}}</td>
                        <td>{{equipos.18.dif}}</td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>27</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.24.logo}}">{{equipos.24.nombre}}</td>
                        <td>{{equipos.24.pts}}</td>
                        <td>{{equipos.24.pj}}</td>
                        <td>{{equipos.24.dif}}</td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>28</td>
                        <td class="bold" style="text-align:left"><img src="/img/{{equipos.19.logo}}">{{equipos.19.nombre}}</td>
                        <td>{{equipos.19.pts}}</td>
                        <td>{{equipos.19.pj}}</td>
                        <td>{{equipos.19.dif}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="posicionesfecha" style="text-align:center">
            <strong>Posiciones Fecha 6</strong>
            <table id="tablafecha">
                <thead>
                    <tr style="background:black;color:white">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if resultado}}
                    <tr style="background:#d5d5d5;">
                        <td>1</td>
                        <td>{{user}}</td>
                        <td>{{resultado}}</td>
                    </tr>
                    {{/if}}
                    <tr style="background:#e5e5e5;">
                        <td>2</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>3</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>4</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>5</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>6</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>7</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>8</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>9</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>10</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="posicionesgeneral" style="text-align:center">
            <strong>Tabla General</strong>
            <table id="tablageneral">
                <thead>
                    <tr style="background:black;color:white">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if resultado}}
                    <tr style="background:#d5d5d5;">
                        <td>1</td>
                        <td>{{user}}</td>
                        <td>{{resultado}}</td>
                    </tr>
                    {{/if}}
                    <tr style="background:#e5e5e5;">
                        <td>2</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>3</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>4</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>5</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>6</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>7</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>8</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#d5d5d5;">
                        <td>9</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background:#e5e5e5;">
                        <td>10</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>